<%- include('include/header.ejs') %>

<div class="main">
  <div class="header">
    <%- include('include/nav.ejs') %>
    <div class="tittle">
      <h1 style="color: white">SAÚDE</h1>
      <h2 style="color: white">Agenda de Consultas</h2>
    </div>
    <div class="triangle-right-home"></div>
    <div class="triangle-left-home"></div>
  </div>
  <div class="container">
    <!--  Lembrar de caso o usuário logado for um doutor, não mostrar essa home, e sim uma home para o doutor  -->

    <% if (user) { %>
      <% if (user.cm == null) { %>
      <div class="row">
        <div>
          <button>
            <a href="/my-appointment">
              <span class="material-symbols-outlined">person</span>
            </a>
          </button>
          <span>Minhas consultas</span>
        </div>
        <div>
          <button>
            <a href="/make-appointment">
              <span class="material-symbols-outlined">calendar_month</span>
            </a>
          </button>
          <span>Marcar consulta</span>
        </div>
        <div>
          <button>
            <a href="">
              <span class="material-symbols-outlined">location_on</span>
            </a>
          </button>
          <span>Consultas agendadas</span>
        </div>
      </div>
      <div class="row">
        <div>
          <button>
            <a href="">
              <span class="material-symbols-outlined">handshake</span>
            </a>
          </button>
          <span>Quem somos nós?</span>
        </div>
        <div>
          <button>
            <a href="">
              <span class="material-symbols-outlined">handyman</span>
            </a>
          </button>
          <span>Suporte</span>
        </div>
      </div>
      <% } else { %>
        <div class="container" style="margin-top: 2%;">
          <div class="row">
            <div>
              <button>
                <a href="/registerHour">
                  <span class="material-symbols-outlined">calendar_add_on</span>
                </a>
              </button>
              <span>Cadastrar horarios</span>
            </div>
            <div>
              <button>
                <a href="/unblockHour">
                  <span class="material-symbols-outlined">edit_calendar</span>
                </a>
              </button>
              <span>Desbloquear horario</span>
            </div>
            <div>
              <button>
                <a href="/blockHour">
                  <span class="material-symbols-outlined">free_cancellation</span>
                </a>
              </button>
              <span>Bloquear horario</span>
            </div>
          </div>
        </div>
      <% } %>

    <% } else { %>
      <main style="width: 90%;margin-top: -90px; font-size: 1.2em">
        <%- include('./bodyLogin')%>
      </main>
    <% } %>
  </div>
</div>

<%- include('include/footer.ejs') %>