<header>
    <nav>
        <a href="/previus">
            <span class="material-symbols-outlined">undo</span>
        </a>
    </nav>
    <div class="triangle-right-login"></div>
    <div class="triangle-left-login"></div>
</header>