<%- include('../include/header')%>

<div class="main">
    <%- include('../include/login-header')%>

    <div class="doctor-tittle">
        <h1 style="color: black">Desbloquear Horário</h1>
        <span>Área do Doutor</span>
    </div>

    <div class="register">
        <form action="/unblockHour" class="min-form" method="post">
            <input type="date" name="date-available" id="date-available">
            <input type="time" name="time-available" id="time-available">
            <button id="cad-hour">Desbloquear Horário</button>
        </form>
    </div>
</div>

<%- include('../include/footer')%>